<a href="https://colab.research.google.com/github/Arch0/Bike-Sharing-dataset-/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [45]:
import numpy as np
import pandas as pd

In [46]:
df=pd.read_csv("/content/drive/MyDrive/day (1).csv")

In [47]:
df.head()

   instant      dteday  season  yr  ...  windspeed  casual  registered   cnt
0        1  01-01-2018       1   0  ...  10.749882     331         654   985
1        2  02-01-2018       1   0  ...  16.652113     131         670   801
2        3  03-01-2018       1   0  ...  16.636703     120        1229  1349
3        4  04-01-2018       1   0  ...  10.739832     108        1454  1562
4        5  05-01-2018       1   0  ...  12.522300      82        1518  1600

[5 rows x 16 columns]

Inspect the various aspects of the housing dataframe

In [48]:
df.shape

(730, 16)

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     730 non-null    int64
 1   dteday      730 non-null    object
 2   season      730 non-null    int64
 3   yr          730 non-null    int64
 4   mnth        730 non-null    int64
 5   holiday     730 non-null    int64
 6   weekday     730 non-null    int64
 7   workingday  730 non-null    int64
 8   weathersit  730 non-null    int64
 9   temp        730 non-null    float64
 10  atemp       730 non-null    float64
 11  hum         730 non-null    float64
 12  windspeed   730 non-null    float64
 13  casual      730 non-null    int64
 14  registered  730 non-null    int64
 15  cnt         730 non-null    int64
dtypes: float64(4), int64(11), object(1)
memory usage: 91.4+ KB

In [50]:
df.describe()

          instant      season  ...   registered          cnt
count  730.000000  730.000000  ...   730.000000   730.000000
mean   365.500000    2.498630  ...  3658.757534  4508.006849
std    210.877136    1.110184  ...  1559.758728  1936.011647
min      1.000000    1.000000  ...    20.000000    22.000000
25%    183.250000    2.000000  ...  2502.250000  3169.750000
50%    365.500000    3.000000  ...  3664.500000  4548.500000
75%    547.750000    3.000000  ...  4783.250000  5966.000000
max    730.000000    4.000000  ...  6946.000000  8714.000000

[8 rows x 15 columns]

droping the unnecessary column

In [51]:
df=df.drop(["instant","dteday","casual","registered"],axis=1)

In [52]:
df.head()

   season  yr  mnth  holiday  ...     atemp      hum  windspeed   cnt
0       1   0     1        0  ...  18.18125  80.5833  10.749882   985
1       1   0     1        0  ...  17.68695  69.6087  16.652113   801
2       1   0     1        0  ...   9.47025  43.7273  16.636703  1349
3       1   0     1        0  ...  10.60610  59.0435  10.739832  1562
4       1   0     1        0  ...  11.46350  43.6957  12.522300  1600

[5 rows x 12 columns]

Mapping the categorical variables

In [53]:
df['season']=df['season'].map({1: 'spring', 2: 'summer',3:'fall', 4:'winter'})
df['mnth']=df['mnth'].map({1: 'jan', 2: 'feb',3:'mar', 4:'apr',5:"may",6:"june",7:"jul",8:"aug",9:"sep",10:"oct",11:"nov",12:"dec"})
df['weekday']=df['weekday'].map({0:"sun",1: 'Mon', 2: 'Tue',3:'Wed', 4:'Thu',5:"Fri",6:"Sat"})
df['weathersit']=df['weathersit'].map({1: 'clear', 2: 'mist+cloudy',3:'light snow', 4:'heavy rain'})

In [54]:
df.head()

   season  yr mnth  holiday  ...     atemp      hum  windspeed   cnt
0  spring   0  jan        0  ...  18.18125  80.5833  10.749882   985
1  spring   0  jan        0  ...  17.68695  69.6087  16.652113   801
2  spring   0  jan        0  ...   9.47025  43.7273  16.636703  1349
3  spring   0  jan        0  ...  10.60610  59.0435  10.739832  1562
4  spring   0  jan        0  ...  11.46350  43.6957  12.522300  1600

[5 rows x 12 columns]

checking the object type of all varibale

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   season      730 non-null    object
 1   yr          730 non-null    int64
 2   mnth        730 non-null    object
 3   holiday     730 non-null    int64
 4   weekday     730 non-null    object
 5   workingday  730 non-null    int64
 6   weathersit  730 non-null    object
 7   temp        730 non-null    float64
 8   atemp       730 non-null    float64
 9   hum         730 non-null    float64
 10  windspeed   730 non-null    float64
 11  cnt         730 non-null    int64
dtypes: float64(4), int64(4), object(4)
memory usage: 68.6+ KB

Visualising the Data

In [56]:
import matplotlib.pyplot as plt
import seaborn as sns

Visualizing Numerical variable

In [ ]:
plt.figure(figsize=(20,10))
sns.pairplot(df,vars=['temp','atemp','hum','windspeed','cnt'])
plt.show()

Visualising categorical varibale

In [ ]:
plt.figure(figsize=(20, 12))
plt.subplot(2,3,1)
sns.boxplot(x = 'weekday', y = 'cnt', data = df)
plt.subplot(2,3,2)
sns.boxplot(x = 'season', y = 'cnt', data = df)
plt.subplot(2,3,3)
sns.boxplot(x = 'mnth', y = 'cnt', data = df)
plt.subplot(2,3,4)
sns.boxplot(x = 'weathersit', y = 'cnt', data = df)
plt.subplot(2,3,5)
sns.boxplot(x = 'yr', y = 'cnt', data = df)
plt.subplot(2,3,6)
sns.boxplot(x = 'workingday', y = 'cnt', data = df)
plt.show()

checking the correlation coefficients to see which variables are highly correlated

In [ ]:
plt.figure(figsize = (16, 10))
sns.heatmap(df.corr(), annot = True)
plt.show()

From above heatmap its clear that temp and atemp is highly corelated, its better to drop one of these.

In [ ]:
df=df.drop(["atemp"], axis=1)

## data preparation

creating dummy variables

In [ ]:
status = pd.get_dummies(df['season'], drop_first=True)
status1 = pd.get_dummies(df['mnth'], drop_first=True)
status2 = pd.get_dummies(df['weekday'], drop_first=True)
status3 = pd.get_dummies(df['weathersit'], drop_first=True)

In [ ]:
status.head()

In [ ]:
df=pd.concat([df,status,status1, status2, status3], axis =1)

In [ ]:
# Droping 'season',"weekday","mnth","weathersit" as we have created the dummies for it
df.drop(["season","weekday","mnth","weathersit"],axis=1,inplace=True)

In [ ]:
df.head()

Splitting the Data into Training and Testing Sets

In [ ]:
from sklearn.model_selection import train_test_split
np.random.seed(0)
df_train, df_test = train_test_split(df, train_size = 0.7, test_size = 0.3, random_state = 100)

In [ ]:
df_train.size

In [ ]:
df_test.size

Rescaling the Features

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [ ]:
# Apply scaler() to all the columns except the 'yes-no' and 'dummy' variables
num_vars = ['temp', 'hum', 'windspeed', 'cnt']

df_train[num_vars] = scaler.fit_transform(df_train[num_vars])

df_train.head()

In [ ]:
df_train.head()

In [ ]:
df_train.describe()

Dividing into X and Y sets for the model building

In [ ]:
y_train = df_train.pop('cnt')
X_train = df_train

# Building Model Using RFE(Recursive feature elimination)

In [ ]:
# Importing RFE and LinearRegression
from sklearn.feature_selection import RFE
from sklearn.linear_model import LinearRegression

In [ ]:
# Running RFE with the output number of the variable equal to 10
lm = LinearRegression()
lm.fit(X_train, y_train)

rfe = RFE(lm, 15)             
rfe = rfe.fit(X_train, y_train)

In [ ]:
list(zip(X_train.columns,rfe.support_,rfe.ranking_))

In [ ]:
col = X_train.columns[rfe.support_]
col

In [ ]:
X_train.columns[~rfe.support_]

## Building model using statsmodel

In [ ]:
# Creating X_test dataframe with RFE selected variables
X_train_rfe = X_train[col]

In [ ]:
import statsmodels.api as sm  
X_train_rfe = sm.add_constant(X_train_rfe)

In [ ]:
lm = sm.OLS(y_train,X_train_rfe).fit()

In [ ]:
print(lm.summary())

the p value of 'holiday' is very high, dropping 'holiday' column

In [ ]:
X_train_new = X_train_rfe.drop(["holiday"],axis = 1)

In [ ]:
X_train_lm = sm.add_constant(X_train_new)
lm = sm.OLS(y_train,X_train_lm).fit()  
print(lm.summary())

In [ ]:
X_train_new = X_train_new.drop(['const'], axis=1)

In [ ]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

vif = pd.DataFrame()
X = X_train_new
vif['Features'] = X.columns
vif['VIF'] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
vif['VIF'] = round(vif['VIF'], 2)
vif = vif.sort_values(by = "VIF", ascending = False)
vif

P value of "hum" is comaparatively high, dropping "hum"

---

In [ ]:
X_train_new = X_train_new.drop(["hum"],axis = 1)
X_train_lm = sm.add_constant(X_train_new)
lm = sm.OLS(y_train,X_train_lm).fit()  
print(lm.summary())

In [ ]:
#checking for VIF values
from statsmodels.stats.outliers_influence import variance_inflation_factor

vif = pd.DataFrame()
X = X_train_new
vif['Features'] = X.columns
vif['VIF'] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
vif['VIF'] = round(vif['VIF'], 2)
vif = vif.sort_values(by = "VIF", ascending = False)
vif