<a href="https://colab.research.google.com/github/Arch0/Bike-Sharing-dataset-/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("/content/drive/MyDrive/day (1).csv")

In [4]:
df.head()

   instant      dteday  season  yr  ...  windspeed  casual  registered   cnt
0        1  01-01-2018       1   0  ...  10.749882     331         654   985
1        2  02-01-2018       1   0  ...  16.652113     131         670   801
2        3  03-01-2018       1   0  ...  16.636703     120        1229  1349
3        4  04-01-2018       1   0  ...  10.739832     108        1454  1562
4        5  05-01-2018       1   0  ...  12.522300      82        1518  1600

[5 rows x 16 columns]

Inspect the various aspects of the housing dataframe

In [6]:
df.shape

(730, 16)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     730 non-null    int64
 1   dteday      730 non-null    object
 2   season      730 non-null    int64
 3   yr          730 non-null    int64
 4   mnth        730 non-null    int64
 5   holiday     730 non-null    int64
 6   weekday     730 non-null    int64
 7   workingday  730 non-null    int64
 8   weathersit  730 non-null    int64
 9   temp        730 non-null    float64
 10  atemp       730 non-null    float64
 11  hum         730 non-null    float64
 12  windspeed   730 non-null    float64
 13  casual      730 non-null    int64
 14  registered  730 non-null    int64
 15  cnt         730 non-null    int64
dtypes: float64(4), int64(11), object(1)
memory usage: 91.4+ KB

In [8]:
df.describe()

          instant      season  ...   registered          cnt
count  730.000000  730.000000  ...   730.000000   730.000000
mean   365.500000    2.498630  ...  3658.757534  4508.006849
std    210.877136    1.110184  ...  1559.758728  1936.011647
min      1.000000    1.000000  ...    20.000000    22.000000
25%    183.250000    2.000000  ...  2502.250000  3169.750000
50%    365.500000    3.000000  ...  3664.500000  4548.500000
75%    547.750000    3.000000  ...  4783.250000  5966.000000
max    730.000000    4.000000  ...  6946.000000  8714.000000

[8 rows x 15 columns]

droping the unnecessary column